h2 {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: #333333;
}

p {
  text-align: center;
}

button {
  background-color: #607D8B;
  font-size: 14px;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  cursor: hand;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  display: block;
}


button:hover {
  color: coral;
  background-color: #cfd8dc;
}

table {
  border-spacing: 0 1px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}
th {
  padding: 10px 20px;
  background-color: #607D8B;
  color: black;
  border-right: 2px solid;
  font-size: 0.9em;
}
th:first-child {
  text-align: left;
}
th:last-child {
  border-right: none;
}
td {
  vertical-align: middle;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-top: 2px solid #56433D;
  border-bottom: 2px solid #56433D;
  border-right: 2px solid #56433D;
}
td:first-child {
  border-left: 2px solid #56433D;
}

td:nth-child(2){
  text-align: left;
}
